p{
    color: #4d0392;
    text-align: center;
    font-size: 1vmax;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
   color: red;
   text-align: center;
   font-size: 2vmax;
}
form{
    border: #4d0392;

}

